.generalStatsSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 480px) {
    gap: 15px;
  }

  .showErrorMsg {
    width: 100%;
    height: 130px;
    background-color: #16110f;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .errorText {
      color: gray;
      font-size: 14px;
      line-height: normal;
      font-weight: 500;
    }
  }
}

.hideBorder {
  border: none;
}
