.monthlyChartsSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
